<% include ./../../views/headerConnecte %>

<script src="/javascripts/application/accordions.js" type="module" defer></script>

<section class="section container">
    <div class="columns">
        <div class="column">
            <a class="button is-primary is-fullwidth" href="/exportcsa">Retour</a>
        </div>
        <div class="column">
            <a class="button export-pdf is-fullwidth">Exporter en PDF</a>
        </div>
    </div>
</section>

<section class="hero is-bold has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <h2 class="title">
                <%= typeof titre != 'undefined' ? titre : 'Carnet de Suivi' %>
            </h2>
            <h3 class="subtitle">
                Elève de <%= typeof pseudo != 'undefined' ? pseudo : 'pseudo' %>
            </h3>
        </div>
    </div>
</section>

<section class="section container">
    <div class="tabs is-centered">
        <ul class="tabs-domaines">
        </ul>
    </div>
</section>

<section class="section">
    <div class="container">
        <% retourParEvaluation.forEach(evaluation => { %>
        <button class="accordion has-background-grey-lighter is-large"><%= evaluation.observation.titre %> <span class="is-pulled-right">
                <div class="evaluation tag" id="<%= evaluation.evaluation %>"></div>
            </span></button>
        <div class="panel">
            <div class="domaine" id="<%= evaluation.domaine.id %>">Domaine d'apprentissage : <span class="is-pulled-right has-text-weight-bold"><%= evaluation.domaine.domaine %></span></div>
            <div class="objectif" id="<%= evaluation.objectif.id %>">Objectif visé(s) : <span class="is-pulled-right has-text-weight-bold"><%= evaluation.objectif.objectif %></span>
            </div>
            <div class="attendu" id="<%= evaluation.attendu.id %>">Ce qui est attendu : <span class="is-pulled-right has-text-weight-bold"><%= evaluation.attendu.attendu %></span></div>
            <div class="observation-description">Description de l'activité : <span class="is-pulled-right has-text-weight-bold"><%= evaluation.observation.description %></span></div>
            <div class="observation-date">Fait le : <span class="is-pulled-right is-italic">
                    <%= evaluation.observation.creation %></span>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<section class="is-hidden">
    <% criteres.forEach(critere => { %>
    <div class="critere" data-value="<%= critere.couleur %>" id="<%= critere.id %>"><%= critere.critere %></div>
    <% }); %>
</section>

<script>
    /* Creation des tabulations par Domaines */
    const domaines = document.querySelectorAll('.domaine')
    const tabsDomaines = document.querySelector('.tabs-domaines')

    const creationDesBouttonsDomainesUniques = () => {
        const domainesUniques = []
        domaines.forEach((domaineAtrier) => {
            const infosUtiles = {
                id: domaineAtrier.id, texte: domaineAtrier.innerHTML
            }
            const infosUtilesPourUniq = JSON.stringify(infosUtiles)
            if (!domainesUniques.includes(infosUtilesPourUniq)) {
                domainesUniques.push(infosUtilesPourUniq)
            }
        })
        domainesUniques.forEach(domaine => {
            const tabDomaine = document.createElement('li')
            const buttonDomaine = document.createElement('a')
            tabDomaine.appendChild(buttonDomaine)
            const domaineObject = JSON.parse(domaine)
            buttonDomaine.innerHTML = `${domaineObject.texte}`
            buttonDomaine.classList.add('filtrage-domaine')
            buttonDomaine.id = domaineObject.id
            tabsDomaines.appendChild(tabDomaine)
        })
    }
    creationDesBouttonsDomainesUniques()

    const filtrageDomaines = document.querySelectorAll('.filtrage-domaine')
    filtrageDomaines.forEach(filtrageDomaine => {
        filtrageDomaine.addEventListener('click', () => {
            filtrageDomaines.forEach(filtrageDomaine => filtrageDomaine.parentElement.classList.remove('is-active'))
            filtrageDomaine.parentElement.classList.add('is-active')
            affichageParDomaine(filtrageDomaine.id)
        })
    })
    const affichageParDomaine = (id) => {
        domaines.forEach((domaine) => {
            domaine.parentElement.previousElementSibling.classList.add('is-hidden')
            const panels = document.querySelectorAll('.panel')
            panels.forEach(panel => panel.style.display = 'none')
            if (domaine.id === id) {
                domaine.parentElement.previousElementSibling.classList.remove('is-hidden')
            }
        })
    }

    // const objectifs = document.querySelectorAll('.objectif')
    // const attendus = document.querySelectorAll('.attendu')

    /* affectation des criteres aux evaluations */
    const evaluations = document.querySelectorAll('.evaluation')
    const criteres = document.querySelectorAll('.critere')
    evaluations.forEach(evaluation => {
        criteres.forEach(critere => {
            if (critere.id === evaluation.id) {
                const couleur = critere.getAttribute('data-value')
                evaluation.classList.add(couleur)
                evaluation.innerHTML = critere.innerHTML
            }
        })
    });

</script>

<script src='public/javascripts/pdfmake/pdfmake.min.js'></script>
<script src='public/javascripts/pdfmake/vfs_fonts.js'></script>
<script>
    const listEvaluations = []
    const boxEvaluations = document.querySelectorAll('.box').forEach((evaluations) => {
        listEvaluations.push(evaluations.innerText)
    })

    const docDefinition = {
        content: [
            `${document.querySelector('.title').innerHTML}`,
            `${document.querySelectorAll('.subtitle')[1].innerHTML}`,
            `${listEvaluations}`
        ]
    }

    const exportPdf = document.querySelector('.export-pdf')
    exportPdf.addEventListener('click', () => {
        pdfMake.createPdf(docDefinition).open()
    })
</script>

<% include ./../../views/footer %>
