<% include ./../../views/headerConnecte %>

<section class="section container">
    <div class="columns">
        <div class="column">
            <a class="button is-primary is-fullwidth" href="/exportcsa">Retour</a>
        </div>
        <div class="column">
            <a class="button is-fullwidth" href="/">Exporter en PDF</a>
        </div>
    </div>
</section>

<section class="hero is-bold has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= typeof titre != 'undefined' ? titre : 'Carnet de Suivi' %>
            </h1>
            <h2 class="subtitle">
                Elève de <%= typeof pseudo != 'undefined' ? pseudo : 'pseudo' %>
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <% retourParEvaluation.forEach(evaluation => { %>
        <div class="box">
            <div>id domaine : <%= evaluation.domaine.id %></div>
            <div>domaine : <%= evaluation.domaine.domaine %></div>
            <div>id objectif : <%= evaluation.objectif.id %></div>
            <div>objectif : <%= evaluation.objectif.objectif %></div>
            <div>id attendu : <%= evaluation.attendu.id %></div>
            <div>attendu : <%= evaluation.attendu.attendu %></div>
            <div>observation titre : <%= evaluation.observation.titre %></div>
            <div>observation creation : <%= evaluation.observation.creation %></div>
            <div>evaluation : <%= evaluation.evaluation %></div>
        </div>
        <% }); %>
    </div>
</section>

<% include ./../../views/footer %>
