<% include ./../../views/headerConnecte %>

<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-10">
        <figure class="image is-48x48 is-hidden-tablet is-pulled-right demanderAjoutEleve">
          <img src="/images/icones/plus-circle-solid.svg">
        </figure>
      </div>
      <div class="column">
        <button class="button is-success is-hidden-mobile demanderAjoutEleve">Ajouter un élève</button>
      </div>
    </div>

    <hr>

    <div class="modal" id="formAjoutEleve">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form action="/eleves/ajout" method="post">
          <header class="modal-card-head">
            <p class="modal-card-title">Nouvel élève</p>
          </header>
          <section class="modal-card-body">
            <p class="control is-expanded">
              <input class="input is-font-secondary" name="nom" type="text" id="input-eleve"
                placeholder="Prénom de l'élève">
            </p>
            <p class="help is-danger is-hidden" id="alertenom">Le nom doit comporter au moins 3 lettres.</p>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success is-fullwidth" id="buttonSauver">Ajouter</button>
          </footer>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <% if ( typeof listeEleves[0] === 'undefined') { %>
    <h3 class="subtitle is-italic">Vous n'avez pas encore d'élèves.</h3>
    <% } else { %>
    <% listeEleves.forEach(eleve => { %>
    <div class="box box-eleve has-background-grey-lighter is-font-secondary" id="<%= eleve.id %>">
      <%= eleve.nom %>
    </div>

    <div class="modal" id="modal-eleve <%= eleve.id %>">
      <div class="modal-background"></div>
      <div class="modal-card">
        <form action="/eleves/edition/<%= eleve.id %>" method="post">
          <header class="modal-card-head">
            <p class="modal-card-title">Edition de l'élève</p>
          </header>
          <section class="modal-card-body">
            <p class="control is-expanded">
              <input class="input is-font-secondary" name="nom" type="text" id="input-eleve" value="<%= eleve.nom %>">
            </p>
            <p class="help is-danger is-hidden" id="alertenom">Le nom doit comporter au moins 3 lettres.</p>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success is-fullwidth" id="buttonSauver" name="sauver">Sauver</button>
            <button class="button is-danger is-fullwidth" name="desactivation">Désactiver</button>
          </footer>
          <p class="is-italic has-text-danger">Désactiver un élève ne supprime pas son carnet.</p>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <% }); %>
    <% } %>

  </div>
</section>

<% include ./../../views/footer %>
