<% include ./../../views/headerConnecte %>

<script src="/javascripts/application/evaluationsObservation.js" type="module"></script>

<section class="section">
    <div class="container has-text-centered">

        <h3 class="subtitle"><%= titreActivite %></h3>
        <div class="idObservation" id="<%= idObservation %>"></div>

        <% listeEleves.forEach(eleve => { %>
        <div class="box box-eleve has-text-centered has-background-grey-lighter has-background-light" id="box_<%= eleve.id %>">
            <%= eleve.nom %>
            <span class="tag is-success is-pulled-right is-hidden">Evalué</span>
        </div>

        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p><%= attenduEvalue %></p>
                </header>
                <section class="modal-card-body" id="<%= eleve.id %>">
                    <h3 class="subtitle"><%= eleve.nom %></h3>
                    <% criteres.forEach(critere => { %>
                    <div class="column">
                        <button class="button is-fullwidth <%= critere.couleur %> critere" id="<%= critere.id %>"><%= critere.critere %></button>
                    </div>
                    <% }); %>
                    <span class="tag is-success is-pulled-right is-invisible">Evalué</span>
                    <span class="tag is-info is-pulled-right is-invisible">Mis à jour</span>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-fullwidth prev">Précédent</button>
                    <button class="button is-primary is-fullwidth next">Suivant</button>
                    <a href="/acceuil" class="button is-info is-fullwidth end is-hidden">Observation
                        finie</a>
                </footer>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <% }); %>

        <hr class="has-background-primary">
        <div class="columns is-centered">
            <div class="column is-half">
                <a href="/acceuil" class="button is-info is-fullwidth">Observation
                    finie</a>
            </div>
        </div>

    </div>
</section>

<span>
    <a class="button-help" data-value="evaluation" title="Aide rapide">
        <figure class="image is-32x32">
            <!--https://fontawesome.com/license-->
            <img src="/images/icones/question-circle-regular-primary.svg" alt="boutton d'aide">
        </figure>
    </a>
</span>

<% include ./../../views/footer %>
