<% include ./../../views/headerConnecte %>


<section class="section">

    <div class="container has-text-centered">
        <h1 class="subtitle">Choisissez votre objectif et ce qui est attendu des élèves :</h1>

        <% arborescenceReferentiel.forEach(objectif => { %>
        <button class="accordion has-background-grey-lighter"><%= objectif.objectif.objectif %></button>
        <div class="panel">
            <form action="/observation/evaluation" method="post">
                <a class="navbar-item">
                    <input class="input is-font-secondary" type="text" name="attenduPersonnalise"
                        placeholder="Votre attendu personnalisé" required>
                    <button class="button is-info" type="submit">
                        Evaluer avec cet attendu
                    </button>
                </a>
                <input type="hidden" value="<%= objectif.objectif.id %>" name="idObjectif">
                <input type="hidden" value="<%= nouvelleEntreeObservation %>" name="idObservation">
            </form>
            <p class="has-text-primary">
                ou utilisez un élément du référentiel officiel :
            </p>
            <% objectif.attendusDelObjectif.forEach(attendu => { %>
            <a class="navbar-item has-text-left" data-value="<%= attendu.id %>" id="attenduReferentiel">
                <%= attendu.attendu %>
            </a>
            <hr class="navbar-divider">
            <% }); %>
        </div>
        <hr>
        <% }); %>

</section>

<form id="choixAttendus" action="/observation/evaluation/" method="post">
    <input type="hidden" name="idAttendu" id="choixAttendu">
    <input type="hidden" value="<%= nouvelleEntreeObservation %>" name="idObservation">
</form>

<% include ./../../views/footer %>
